<footer class="shalom-site-footer">
  <div class="shalom-page row">
    <div class="large-12 columns">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div id="map1" class="gmaps flex-video" data-lat="1.372602" data-lng="103.710605" data-zoom="16"></div>
        </div>
      <div class="small-12 medium-6 columns">
        <h6>Church Office</h6>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-building"></i><strong>Addr:</strong> Blk 862 Jurong West St 81 #14-616 S(640862)</li>
        <li><i class="fa-li fa fa-email"></i><strong>Email:</strong> yeoh.anthony @ gmail . com (Pastor Anthony Yeoh)</li>
        </ul>
        <h6>Worship Location</h6>

        <ul class="fa-ul">
        <li><i class="fa-li fa fa-home"></i><strong>Addr:</strong> 345 Old Choa Chu Kang Road</li>
        <li><i class="fa-li fa fa-phone"></i><strong>Phone:</strong> 9011-1915 (Pastor Anthony Yeoh)</li>
        <li><i class="fa-li fa fa-globe"></i><strong>Web:</strong> shalombaptistchapel.org</li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="shalom-final row"><div class="medium-4  columns shalom-copyright"><p>&copy; {{ now|date('Y') }} - {{ this.theme.site_name }}.</p></div>
          <div class="medium-8 columns">
            <ul>
                {% partial 'main-navlinks' %}
                <li><a href="http://www.facebook.com/ShalomBaptistChapel"><span class="hide-for-small">Find us on Facebook&nbsp; <i class="fa fa-facebook-official fa-lg"></i></span><i class="show-for-small fa fa-facebook-official fa-lg"></i></a></li>
            </ul>
            </div>

      </div>

  </div>
</footer>
